#gameSpace {
	display: block;
	width: 400px;
	height: 400px;
	border: 20px solid grey;
	position: relative;
	background-color: #CCC900;
}

div {
	width: 20px;
	height: 20px;
	background-color: black;
	position: absolute;
	text-align: center;
	box-sizing: border-box;
	border:1px solid red;
}

.appleStyle {
	border: 1px solid white;
	background-color: black;
	width: 20px;
	height: 20px;
	position: absolute;
	box-sizing: border-box;
}

#head{
	background-image: url(img/head.png);
	background-size: 20px 20px;
}

h1{
    color:white;
    text-align: center;
}

.gameOver{
    
    background-color: rgba(0,0,0,0.5);
};

